.signup {
  height: 100vh;
}

.signup-img {
  background-color: #C9AC8C;
  padding: 4.9% ;
}

.signup-inp {
  border: 1px solid grey;
  border-radius: 10px;
  margin: 8px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.btnm {
  background-color: #152540;
}